#citySearch {
    width: 500px;
}

#uv-index {
  max-width: 84%;
  padding: 2px; 
}

#date1, #date2, #date3, #date4, #date5 {
    text-align: center;
}

#five-Day-Forecast {
    margin-left: 130px;
    font-weight: bold;
}

#searchBar {
    margin-left: 220px;
    box-shadow: 2px 2px gray;
}

#currentConditions {
    margin-left: 130px;
}

#searchLabel {
    color: white;
}

.card-body {
  position: relative;
  bottom: 50px;
}

.form-group {
  text-align: center;
}

body {
  background-color: lightblue;
}

#footer {
  text-align: center;
  font-weight: bold;
  color: gray;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  #five-Day-Forecast .card {
    width: 15% !important;
    font-size: 80%;
    height: 14rem !important
  }
  .card-text {
    position: relative;
    top: 20px;
  }
  #date1, #date2, #date3, #date4, #date5 {
    font-size: 150%;
  }
  body {
    height: 10%;
  }
}




